
{{#if banners.bottom}}
    {{#if settings.data_tag_enabled}}
        <div class="banners" data-banner-location="bottom">
            {{#each (limit banners.bottom_metadata 1)}}
                <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-name="{{this.banner-name}}">
                    <div data-event-type="promotion-click">
                        {{{this.content}}}
                    </div>
                </div>
            {{/each}}
        </div>
    {{else}}
        <div class="banners" data-banner-location="bottom">
            <div class="banner">
                {{{limit banners.bottom 1}}}
            </div>
        </div>
    {{/if}}

{{/if}}
<!--This is the actual footer-->
<footer class="footer" role="contentinfo" >
    <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
    <div class="container">
  
        <section class="footer-info">
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h3 class="footer-info-heading"><!--{{lang 'footer.navigate'}}-->Fogliani</h3>
                <ul class="footer-info-list">
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h3 class="footer-info-heading"><!--{{lang 'footer.categories'}}--> Specializzazioni</h3>
                <ul class="footer-info-list">
                    {{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                </ul>
            </article>

            {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h3 class="footer-info-heading">Informazioni legali<!--{{lang 'footer.brands'}}--></h3>
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
            </article>
            {{/and}}

           
            <article class="footer-info-col footer-info-col--small footer-info-col--end" data-section-type="footer-brands">
                <h3 class="footer-info-heading">Sade</h3>
                <ul class="footer-info-list">
                    
                        <li>
                            BUSTO ARSIZIO (VA)
                        </li>
                        <li>
                            21052 via per Cassano, 157
                        </li>
                        <li>
                            tel. +39.0331.69.69.11
                        </li>
                        <li>
                            fax. +39.0331.68.65.61
                        </li>
                        <li>
                            info@fogliani.it
                        </li>
                </ul>
                <div style="border: 1px solid white;">Payment methods here</div>
            </article>
           
          
        <!--

            {{#if settings.address}}
            <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                <h3 class="footer-info-heading">{{lang 'footer.info'}}</h3>
                <address>{{nl2br settings.address}}</address>
                {{#if settings.phone_number}}
                    <strong>{{lang 'footer.call_us' phone_number=settings.phone_number}}</strong>
                {{/if}}
            </article>
            {{/if}}
            -->

            <article class="footer-info-col" data-section-type="newsletterSubscription">
             <!--   {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}} -->
                {{> components/common/payment-icons}}
            </article>
        </section>
        {{#if settings.paypal_commerce_credit_message}}
        <div class="footer-copyright">
            <p class="paypal-credit">{{nl2br settings.paypal_commerce_credit_message}}</p>
        </div>
        {{/if}}
        {{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">{{lang 'footer.powered_by'}} <a href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC" rel="nofollow">BigCommerce</a></p>
            </div>
        {{/if}}
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
            </div>
        {{/if}}
        
       <!-- {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}} 
        <article class="footer-info-col
            footer-info-col--social
            footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
            data-section-type="footer-webPages"
           
            >
                <h3 class="footer-info-heading">{{lang 'social.connect'}}</h3>
                {{> components/common/social-links}}
                
        </article>
   {{/if}} -->

 

    </div>

 
        
        <hr >
        <div class="container">
            <div  class="footer-lower">
           <!-- <p class="footer-info-col--social">Social media icons {{> components/common/social-links}}
         
            </p> -->
            <div class="footer-info-col--social">
                <img src="/assets/img/social_media/fb.png" alt="alt text" />
                <img src="/assets/img/social_media/Instagram.png" alt="alt text" />
                <img src="/assets/img/social_media/linkedin.png" alt="alt text" />
            </div>
        
            <p class="footer-copyright">© 2011-2021 Fogliani - All Right Reserved - P.IVA 01317910121 - Codice REA VA172423 - Capitale Sociale I.V. 4.500.000€</p>
            </div>
        </div>
    
 {{{region name="ssl_site_seal--global"}}} 
</footer>
