<div class="info-bar">
    <!-- <div class="info-bar-container">
    <div class="info-contents">
      <p>T\OSUHD One</p>
    </div>
    <div class="info-contents">
      <p>Testher Two</p>
    </div>
  </div> -->
  <ul>
  {{#each categories}}
<li>
<a class=""
               href="{{url}}"
               aria-label="{{lang 'category.view_all.name' category=name}}"
            >
               <!-- {{lang 'category.view_all.name' category=name}} -->
               {{name}}
            </a>
            </li> 
  {{/each}}
</ul>
  </div>

