// =============================================================================
// FOOTER (CSS)
// =============================================================================


// Layout and columns
// -----------------------------------------------------------------------------
//
// 1. To enable the grid's display: inline-block; to work properly, we need to
//    remove the white-space that it creates between columns with font-size: 0;
// 2. Re-set the font-size that was reduced to 0 in point 1 for children.
// 3. Fix for text flickers on windows devices
//
// -----------------------------------------------------------------------------

.footer {
    background-color: #333333; //$footer-background;
    border-top: container("border");
    padding: spacing("double") 0;
    position: relative;
    transform: translateZ(0); // 3

    // Adam Custom code.
    hr{
        border-top: 1px solid white;
        width: 100%;
        margin: 30px auto;
        @include breakpoint("medium") {
            width: 90%;
        }

        
    }

    .container{
      //  border: 1px solid snow;
        margin: auto;
        width: 90%;

    }

    h3{
        font-weight: 700;
    }

    ul{
        li{
            color: white;
            line-height: 24px;
            font-weight: 400;
        }
    }

}

.footer-title-sr-only {
    height: 1px;
    left: -10000px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

.footer-info {
    @include grid-row($behavior: nest);
    font-size: 0; // 1
}

.footer-info-col {
    @include grid-column(12);
    color: stencilColor("color-textSecondary");
    display: inline-block;
    float: none;
    font-size: fontSize("base"); // 2
    margin-bottom: spacing("double");
    overflow-wrap: break-word;
    text-align: center;
    vertical-align: top;
    // TODO: specifically use vendor only for IE11 since overflow-wrap is not supported here
    -ms-word-break: break-all;
    @include breakpoint("small") {
        text-align: left;
        width: width("6/12");
    }

    @include breakpoint("medium") {
        width: width("4/12");
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }
}

.footer-info-col--small {
    @include breakpoint("medium") {
        width: width("2/12");
    }
}


.footer-info-col--left {
    @include breakpoint("small") {
        padding: 0;
    }
}

.footer-info-col--right {
    @include breakpoint("small") {
        left: 50%;
        position: inherit;
        width: 50%;
    }

    @include breakpoint("medium") {
        left: 0;
        padding: 0;
        text-align: right;
        width: 100%;
    }
}

.footer-info-col--end{
   // border: 1px solid yellow;
   float: right;
}


//Adam Custom stylings


// Content
// -----------------------------------------------------------------------------

.footer-info-heading {
    color: white; //$footer-heading-fontColor;
    font-size: fontSize("base");
    text-transform: inherit;
}

.footer-info-list {
    list-style: none;
    margin-left: 0;

    a {
        color: white; //stencilColor("color-textSecondary");
        text-decoration: none;

        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
}

.footer-lower {
    display: block;
   // flex-direction: row;
    padding: 0;
   // border: 1px solid salmon;

    @include breakpoint("medium") {
       // display: flex;
    }
}

.footer-copyright {
  border: 1px solid red;  
 // width: fit-content; 
    //display: inline; 
 // padding: 0;
  color: white;
  margin: auto;
  //width: 100%;
  text-align: center;
  width: 80%;

  @include breakpoint("medium") {
  
    //margin-left: auto;
    text-align: right;
    float: right; 
    display: inline;
   // justify-content: flex-end;
  }

 // margin: 0 0 0 auto;
 /*   text-align: center;

    @include breakpoint("small") {
        text-align: left;
    }

    > .powered-by {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("tiny");
        margin: 0;
    }

    > .paypal-credit {
        color: stencilColor("color-textSecondary");
        font-size: fontSize("tiny");
        margin: 1em 0 2em;
    }

    a {
        color: stencilColor("color-textSecondary");
        text-decoration: none;

        &:hover {
            color: stencilColor("color-textSecondary--hover");
        }
    }
    */
}

.footer-info-col--social {
    //justify-content: flex-start;
    color: white;
    //width: fit-content;
  // border: 1px solid yellow;
   display: block;
   text-align: center;
    //width: 100%;
margin: auto;

img{
    width: 30px;
    border: 1px solid blue;
}

    img:nth-child(2) {
       margin-left: 10px;
       margin-right: 10px;
      }

      @include breakpoint("medium") {
        display: inline;
        text-align: left;

        img{
            width: auto;
            border: 1px solid yellowgreen;
        }

      }

}

.footer-payment-icons {
    height: remCalc(40);
    margin-top: spacing("single");

    @include breakpoint("medium") {
        margin-top: spacing("double");
    }

    .footer-payment-icon {
        height: 100%;
        margin: spacing("quarter");
        vertical-align: middle;
        width: remCalc(50);
    }

    svg {
        fill: stencilColor("icon-color");
    }
}

.footer-newsletter-summary {
    text-align: left;
}

#consent-manager-update-banner { display:none!important;}